
@{
    ViewData["Title"] = "Index";
}
<center>
    <h2>Create Your Brands localisation</h2>

    <div class="btn-group">

        <a asp-action="CountryIndex" class="btn btn-info">Country</a>
        <a asp-action="CityIndex" class="btn btn-info">City</a>
        <a asp-action="LocationIndex" class="btn btn-info">Locations</a>


    </div>

</center>
<div class="col-md-2">
    <a id="createModel" class="btn btn-info" href="~/admin">
        << Back<br />


    </a>
</div>