
@{
    ViewData["Title"] = "Index";
}


<!-- main content start-->
<br />
<div class="container" >
    <div>

        <a class="dropdown-item" href="~/product">Product </a><br />
        <a href="~/ordersAdmin">Client Orders</a><br />
        <a href="~/PaymentMethod">Payement Method</a><br />
        <a href="~/ordersAdmin">Stock</a><br />
        <a href="~/users">Users</a><br />
        <a href="~/location">New stock Location</a><br />
    </div>
</div>









<!--footer-->
