@{
    ViewData["Title"] = "About";
    Layout = "_Layout";
}

<div style="padding-top: 35px;"></div>
<div class="container">
    <h2>Hat-Bazar</h2>
    <hr />
    <p>
       An application where u can sell any staff u want
    </p>
    <div style="padding-top: 35px;"></div>
    
    <hr />
  



    
   
</div>